{% extends 'core/base.html' %}
{% load static %}
{% block contenido %}
<div class="container-login">
    <input type="checkbox" id="flip">
    <div class="cover">
      <div class="front">
        <img src="{% static 'core/img/FotosGaleria/loginImagenFinal.jpg' %}" alt="">
      </div>
    </div>
    <div class="forms">
        <div class="form-content">
          <div class="login-form">
            <h5>TU CUENTA HA SIDO BLOQUEADA POR MULTIPLES INTENTOS</h5>
      </div>
    </div>
    </div>
</div>
{% endblock %}