{% extends 'core/base.html' %}
{% load static %}
{% block contenido %}


{% block js %}
    <script>
        function eliminarRegion(id){
            Swal.fire({
                title: "¿ DESEA ELIMINAR ESTE REGION ?",
                confirmButtonText: "ELIMINAR",
                showCancelButton: true,
            })
            .then((result) => {
                if (result.isConfirmed) {
                    window.location.href = "/agregarRegion/eliminarRegion/" + id + "/"
                }
            });
        }
    </script>

{% endblock %}




<h1 style="text-align: center; margin-top: 60px;color: white;">LISTADO DE REGIONES</h1>
<div class="container" style="margin-top: 50px; margin-bottom: 50px;">
    <div class="table-container">
        <table class="table" style="background-color: white;">
            <thead>
                <tr style="border-bottom: 1px solid #000000; text-align: center;">
                    <th style="padding: 8px;">REGION</th>
                </tr>
            </thead>
            <tbody>
                {% for aux in entity %}
                <tr style="text-align: center;">
                    <td>{{ aux.descripcion }}</td>
                    <td>
                        <div class="d-flex justify-content-center">
                            <a href="{% url 'actualizarRegion' aux.id %}">
                                <button class="btn btn-warning">
                                    <i class="fas fa-edit"></i> Modificar
                                </button>
                            </a>
                        </div>
                    </td>
                    <td>
                        <div class="d-flex justify-content-center">
                            <a href="#" onclick="eliminarRegion('{{ aux.id }}')">
                                <button class="btn btn-danger">
                                    <i class="fas fa-trash-alt"></i> Eliminar
                                </button>
                            </a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div>
            {% include 'core/paginator.html' %}
        </div>
    </div>
</div>
{% endblock %}


